.container {
    max-width: 100%! important;
    /* height: 100vh; */
}

.home-slides {
    /* height: 40vh!important; */
}

.serv-cont {
    /* height: 105vh; */
    /* background-color: #F9F9F9; */
}

.serv-cont p, li {
    color: #444444;
    padding-top: 3%;
    font-weight: 200;
}

.serv-img-cont {
    /* padding-left: 0px !important;
    padding-right: 0px !important; */
}

.contact-sect {
    background-color: steelblue;
    color: white;
}

.img-fluid {
    vertical-align: middle;
}

.slider-row {
    margin: 0px!important;
    height: auto;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    /* height: 100vh; */
    /* margin-right: -15px;
    margin-left: -15px; */
    padding-top: 3%;
    padding-bottom: 3%;
}

.images-row1 {
    background-color: #EFF2F5;
    /* width: 80%; */
}

.img-h100 {
    /* height: 200px;
    width: 200px;
    update git*/
    
}

.img-cont {
    background-color: #EFF2F5;
}

.images-row .img {
    height: 50px!important;
    width: 50px! important;
}

.testi-image {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.testi-padd {
    /* padding-left: 15%;
    padd-right: 15%; */
}

.about-row-home {
    background-color: slateblue;
    color: white;
}

/* .form-centering {
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
} */

.form-row-width {}

.form-group {
    width: 320px;
}

.testimonials {
    /* background-color: yellow; */
}

.carousel-item .img-fluid {
    width: 100%;
    height: 70vh;
}

.carousel-caption {
    /* position: absolute;
    text-align: center; */
    /* height: 60vh; */
    /* adding comment for git update */
}

.carousel-text-heads {
    padding-bottom: 0px! important;
    padding-top: 0px! important;
    margin: 0px! important;
}

.carousel-item .txt {
    background-color: black;
    opacity: 0.6;
    font-size: 43px;
}

.new-studio-bg {
    background-color: #f9f9f9;
}

.line-height-head-serv {
    line-height: 1.5;
}

.foot-sect {
    background-color: powderblue;
}

.service-image {
    padding-left: 0px!important;
    padding-right: 0px!important;
    height: 105vh ! important;
}

.service-columns {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

/* .my-custom-area .row {
    margin-left: 0px;
    margin-right: 0px;
}

.my-custom-area .row>.col {
    padding-left: 0px;
    padding-right: 0px;
}



.col-md-6 {
    padding-left: 0px!important;
    padding-right: 0px!important;
} */

/* .img-fluid {
    max-width: 100%;
    width: 100%;
 height: auto;
padding-right: 0px ! important;
padding-left: 0px! important;
} */
