@charset "UTF-8";
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: steelblue;
}

.nav-bar {
    background-color: #f1f1f1;
    padding: 10px;
    box-shadow: 0px 10px 5px #27272780;
    -webkit-box-shadow: 0px 10px 5px #27272780;
    -moz-box-shadow: 0px 10px 5px #27272780;
    position: relative;
    z-index: 999999;
}

.logo {
    /* padding: 20px; */
}

.nav-menu {
    /* padding-top: 10px; */
    float: right;
    padding-right: 50px;
    margin-top: 10px;
}

.nav-menu a {
    text-decoration: none;
}

.nav-menu span {
    padding-right: 25px;
}

.nav-button {
    /* margin-top: 10px; */
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 2px;
}

.customers {
    background-color: greenyellow;
}

.customers-logo {
    /* width: 100%;  */
    /* test comment*/
    /* padding-top: 30px;
  padding-bottom: 30px;  */
    color: #6b6b6b;
    /* display: block; */
}

.single-customer {
    /* box-sizing: content-box; */
    width: 20% ! important;
    border-style: solid;
    border-width: 1px;
    border-left: 0px;
    border-color: black;
    height: 150px ! important;
    float: left;
    text-align: center;
    /* margin-bottom: 30px; */
}

.single-customer img {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.services-details {
    display: grid;
    margin-top: 150px;
    height: 105vh;
    /* margin-bottom: 7.5%; */
    text-align: center;
}

.services-details h1 {
    padding-top: 3%;
    /* padding-bottom: 2.5%; */
}

.services-details-left {
    width: 100%;
    height: 105vh;
    padding-bottom: 10%;
    padding-top: 10%;
}

.services-details-right {
    /* margin-top: 7.5%; */
    padding-bottom: 10%;
    padding-top: 6%;
    width: 100%;
    /* margin-bottom: 7.5%; */
}

.services-details-right img {
    float: left;
    width: 40%;
}

.services-info-right {
    float: right;
    width: 50%;
    /* text-align: center; */
    padding-right: 8%;
}

.services-info-left {
    float: left;
    width: 50%;
    padding-left: 8%;
}

.services-details-right-2 {
    /* margin-top: 7.5%; */
    padding-bottom: 10%;
    /* padding-top: 10%; */
    width: 100%;
    /* margin-bottom: 7.5%; */
}

.services-details-right-2 img {
    float: left;
    width: 50%;
}

.services-info-left li {
    /* text-align: left; */
    /* align-items: left; */
    align-content: center;
}

.services-details-left img {
    float: right;
    width: 50%;
}

.service-section-1 {
    background-color: whitesmoke;
}

.service-section-2 {
    /* margin: 100px; */
    background-color: red;
    display: grid;
    /* margin-top: 10%; */
    /* margin-bottom: 10%; */
}

.service-section-3 {
    /* background-color: black; */
    /* margin: 100px; */
    display: grid;
    background-color: whitesmoke;
    height: 105vh;
    padding-top: 12.5%;
    padding-bottom: 12.5%;
    /* margin-top: 10%; */
    /* margin-bottom: 10%; */
}

.customers {
    height: 105vh;
    display: grid;
}

.customers-info {
    /* margin-top: 10%; */
}

.customers-info h1 {
    /* margin-bottom: 5%; */
    text-align: center;
}

.testimonials {
    padding-top: 5%;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    float: left;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10%;
}

.testimonial-column {
    align-content: center;
    text-align: center;
    margin: 10%;
    font-size: 20px;
}

.testimonial-column img {
    border-radius: 80%;
}

.about {
    height: 105vh;
    display: grid;
    grid-template-columns: 1fr, 1fr;
    background-color: bisque;
}

.about-info {
    /* padding-top: 10%; */
}

.about-info h1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 10%;
    /* margin-bottom: 10%; */
}

.about-details {
    /* padding-top: 10%; */
    padding-bottom: 10%;
    width: 50%;
    float: right;
    padding-right: 8%;
}

.contact {
    display: grid;
}

.contact-info {
    text-align: center;
    display: grid;
    background: blanchedalmond;
    padding-bottom: 10%;
    padding-top: 10%;
    height: 105vh;
}

.contact-info {}

.foot {}

.footer {
    /* margin-top: 10%; */
    height: 50vh;
    background-color: blueviolet;
    display: grid;
    text-align: center;
    float: left;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.form-fields {
    /* width: 20%; */
    width: 50%;
    margin-left: 25%;
    /* width: 300px; */
}

.form-fields input {
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;
}

.footer-column {}

.carousel .carousel-item {
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
}

.carousel .carousel-item:first-of-type {
    background-image: url("1.jpg");
}

.carousel .carousel-item:nth-of-type(2) {
    background-image: url("2.jpg");
}

.carousel .carousel-item:last-of-type {
    background-image: url("3.jpg");
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    width: 50px;
    height: 50px;
}
